includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - resources/
        - routes/
        - tests/
    level: 8

